body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato , sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    padding: 0;
    margin: 0;
}
button {
    border: none;
    background: none;
}
.logo {
    display: flex;
    align-items: center;
}
.row {
    display: flex;

}
.col-6 {
    width: 50%;
}
.col-4 {
    width: 33.33333%;
}
.col-3 {
    width: 25%;
}
.section_title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}
.section_desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
}
.filled_btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ED4C5C;
    width: 160px;
    height: 50px;
    border-radius: 6px;

}
.hero_btn {
    
}
.container {
    max-width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
}
.hero {
    height: 100vh;
    background: url("../images/image12.png") no-repeat  center/cover;
    position: relative;
}
.hero_red {
    height: 100%;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);


}
.hero:before {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    position: absolute;
}
.hero_container {
    position: relative;
    padding: 257px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero_title {
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;

}
.hero_desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    width: 540px;

    margin: 39px 0;

}
.hero_btn {
    background: #FFFFFF;
    color: #ED4C5C;
}
.header {
    position: absolute;
    top: 50px;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #FFFFFF;
}
.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-left: 7px;

    color: #FFFFFF;
}
.header_info {
    display: flex;
    align-items: center;

}
.header_auth {
    display: flex;
    margin-left: 113px;
}
.header_nav {
    display: flex;

}
.header_link {
    margin-right: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    color: #FFFFFF;
    transition: .3s;
}
.header_link:hover {
    font-weight: 600;
}
.header_language {
    margin: 0 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

}
.header_login {
    width: 100px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    color: #FFFFFF;
    margin-left: 29px;
}
.about {

    background: #FFFFFF;
    padding: 95px;

}
.about_leftside {
    padding: 45px 110px 0 0;

}
.about_desc {
    margin: 46px 0 36px;
}
.about_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #ED4C5C;
}
.about_rightside {
    padding-left: 14px;
}
.about_img {
    position: relative;
    border-radius: 15px;
    background: url("../images/Video_bg.png");
    width: 443px;
    height: 311px;
}
.about_img svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -33px;
    margin: auto 0;
}
.select {
    display: flex;
    align-items: center;
    position: relative;
}
.select select {
    margin: 0 0 0 12px;
    display: inline-block;
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    z-index: 1;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    color: #FFFFFF;

}
.select option {
    color: #000000;
}
.select label {
    position: absolute;
    right: 0;
    top: 11px;
    z-index: 0;

}
.features {
    padding: 63px 0 229px;
    background: #FAFAFA;
}
.features_title {
    text-align: center;
    margin-bottom: 63px;
}
.features_card img {
    width: 100%;
}
.features .col-4 {
    padding: 0 15px;
    position: relative;
}
.features .col-4:hover .features_info{
    bottom: -97px;
}
.features .row {
    margin: 0 -15px;
}
.features_card {
    border-radius: 8px;
    position: relative;
}
.features_info {
    position: absolute;
    width: 229px;
    height: 140px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    z-index: 100;
    bottom: -33px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 33px 32px 25px;
    text-align: center;
    transition: 0.3s;
}
.features_card_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}
.features_card_desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    margin: 20px 0 25px;
}
.features_card_link {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #ED4C5C;
}
.technology {
    padding: 63px 0 124px;
    background: #FFFFFF;
}
.technology_title {
    text-align: center;
    margin-bottom: 52px;
}
.technology .row {
    margin: 0 -15px;

}
.technology .col-3 {
    padding: 0 15px;
}
.technology .col-3:hover .technology_numbers {
    color: rgba(16,16, 16, 0.48);

}
.technology_card {
    position: relative;
    text-align: center;
    padding: 0 30px 0 34px;

}
.technology_numbers {
    position: relative;
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    color: rgba(16, 16, 16, 0.08);
    z-index: 100;
    transition: 0.6s;
}
.technology_card_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    margin: 19px 0 10px;
}
.technology_card_desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;

}
.technology_img {
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.technology_img svg{
    fill: green;
}
.top_img {
    top: 69px;
}
.focus {
    background: #ED4C5C;
    padding: 94px 0;
}
.focus_left {
    padding: 28px 105px 0 0;

}
.focus_title {
    color: #FFFFFF;
}
.focus_desc {
    color: #FFFFFF;
    margin: 24px 0 42px;
}
.focus_logos {
    display: flex;
    align-items: center;

}
.focus_logos svg {
    margin-right: 21px;
}
.focus_right {
    margin-left: 15px;
    position: relative;
}
.focus_main {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.focus_img_left {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: -44px;

}
.focus_img_right {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 44px;

}
.contact {
    padding: 117px 0 128px;
    background: #FFFFFF;
}
.contact_desc {
    margin-top: 60px;
    width: 434px;
}
.contact_left {
    padding-left: 7px;
}
.contact_right {
    padding-left: 15px;
}
.contact_form .row {
    margin: 0 -15px;
}
.contact_form .col-6 {
    padding: 0 15px;
}
.contact_inp {
    width: calc(100% - 31px);
    border: 1px solid #333333;
    border-radius: 6px;
    padding-left: 31px;
    height: 60px;
    margin-bottom: 24px;
}
.contact_inp::placeholder {
    color: rgba(19, 39, 67, 0.5);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.contact-select {
    width: 100%;
    border: 1px solid #333333;
    border-radius: 6px;
    padding-left: 26px;
    height: 60px;
    color: rgba(19, 39, 67, 0.5);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    appearance: none;
    background: url("../images/arrow.svg") no-repeat right;
    background-position-x: calc(100% - 25px);
}
.contact_btn {
    background: #ED4C5C;
    border: 1px solid #ED4C5C;
    margin-top: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer {
    background: #FAFAFA;
    padding: 85px 0;
}
.footer .row {
    margin: 0 -15px;
}
.footer .col-3 {
    padding: 0 15px;
}
.footer_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    margin-bottom: 33px;
}
.footer_desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}
.footer_content {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #101010;
}
.footer_nav {
    margin-top: -5px;
}
.footer_link {
    display: block;
}
.footer_phone {
    margin: 11px 0 21px;
}
.footer_sm_link i{
    margin-right: 13px;
}
.footer_payment {
    padding-left: 7px;
}
.footer_copyright {
    margin-top: 86px;
}